.login-body {
  background: url("./login-bg.jpg");
  background-size: cover;
  height: 100vh;
}

.login-form-div {
  width: 350px;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.247);
  height: 400px;
}
.login-logo {
  height: 100px;
}
.input-field {
  width: 100%;
  height: 40px;
  background: none;
  border-radius: 5px;
  border: none;
  color: white;
  padding-left: 10px;
  transition: 100ms;
  outline: none;
  border: 1px solid white;
}
.side-header {
  min-width: 220px;
}
.input-field:focus {
  border: 2px solid rgb(111, 111, 255);
}

.header-box {
  background-color: rgb(36, 34, 34);
  overflow: hidden;
  height: 100vh;
  z-index: 100;
  position: fixed;
  width: 220px;
}

.logo-side_header {
  min-height: 70px;
}

#logoside {
  max-width: 120px;
}

.sidebar-nav a:hover {
  color: rgb(219, 219, 219);
}

.sidebar-nav a {
  text-decoration: none;
  color: white;
  transition: 200ms;
  font-size: 12px;
  height: 45px;
  padding-left: 12px;
  display: flex;
  word-break: keep-all;
  flex-direction: row;
  align-items: center;
}

.disabled {
  color: rgb(236, 228, 228);
  background-color: rgb(184, 178, 178);
}
.active {
  background: linear-gradient(90deg, rgb(180, 104, 224), rgb(228, 99, 196));
}
.navitem {
  margin-right: 20px;
}

.release {
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: 10px 0 0;
}

.release a {
  color: rgb(77, 71, 71);
  text-decoration: none;
}
.release li {
  padding: 10px 20px 10px;
  border-radius: 3px;
  transition: 200ms;
}
.required-span {
  color: red;
}

.tabactive {
  color: black;
  background-color: rgb(224, 190, 217);
  border-bottom: 3px solid blueviolet;
}

.file-input {
  height: 150px;
  width: 150px;
  border: 1px solid rgb(219, 218, 218);
  background: url("./placeholder.webp");
  background-position: center;
  background-size: cover;
  outline: none;
  text-decoration: none;
}
.text-muted {
  font-size: 12px;
  margin-bottom: 2px;
}
.release-type p {
  border: 1px solid rgb(221, 219, 219);
  border-radius: 3px;
  padding: 0 5px 2px;
  cursor: pointer;
}

.release-tabs {
  display: none;
}

.song-detail,
.artist-container {
  width: 450px;
  z-index: 3;
  left: 50%;
  top: 20%;
  text-align: left;
  padding: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  transform: translateX(-50%);
  position: absolute;
  height: 450px;
  border: 1px solid grey;
  box-shadow: 0 0 20px 5px white;
  background: white;
  border-radius: 5px;
}
.song-detail input,
select {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(223, 221, 221);
}
.song-detail::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.song-detail::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.song-detail::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.song-detail::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.song-detail-container,
#artist-add {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.219);
  top: 0;
  left: 50px;
  z-index: 1;
  display: block;
  position: fixed;
}

.cancelbutton {
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 10px;
}

.platform-icon {
  padding: 10px;
  margin: 10px;
}

.ticket-selector {
  width: 20%;
  min-width: 200px;
}
.topheader-text {
  padding-left: 20px;
}

.mobileheader {
  display: block;
  min-width: 60px;
  z-index: 100;
}
.menuicon {
  height: 40px;
  cursor: pointer;
  padding-left: 10px;
}

#mobile-nav {
  display: none;
}

#mobile-nav > a {
  text-decoration: none;
  width: 100%;
  color: white;
  border: 1px solid rgb(51, 51, 51);
  height: 50px;
  padding-top: 10px;
  text-align: center;
  text-align: center;
}
.logout {
  position: fixed;
  color: black;
  width: 300px;
  display: none;
  transition: 200ms;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 16px 4px rgb(223, 223, 223);
  background-color: rgb(223, 223, 223);
}
.logout > .text {
  height: 130px;
  text-align: center;
  padding-top: 50px;
}
